
<div id='map'>
	
	<iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v4/matthewdeama.2d3lplf0/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoibWF0dGhld2RlYW1hIiwiYSI6ImNpd2xkZ2J1cjAwMjQyem53dHRkZHc4NHAifQ.hT-pkHYcdrfY_4fbz1GMtw'></iframe>

</div>

<div id='module-tweet'>
	<a class="twitter-timeline"  href="https://twitter.com/search?q=from%3Adost_pagasa%20OR%20from%3ANDRRMC_OpCen%20OR%20from%3Aphivolcs_dost" data-widget-id="809042962210394112"></a>
</div>

<div id='module-signIn'>
	<h2 class="text-center">Bayanihan</h2>
	<h5 class="text-center">Community-driven preparedness</h5>
	<br>
	<button class="btn btn-block btn-social btn-twitter" onclick="signIn()">
		<span class="fa fa-twitter"></span>
		Sign in with Twitter
	</button>
</div>

<script>
	var newWindow;

	function signIn() {

		var provider_url = '/auth/twitter';
		var width = 500;
		var height = 500;
		var screenX     = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft,
			screenY     = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop,
			outerWidth  = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth,
			outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22),
			left        = parseInt(screenX + ((outerWidth - width) / 2), 10),
			top         = parseInt(screenY + ((outerHeight - height) / 2.5), 10),
			features    = ('width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);

		newWindow = window.open(provider_url, 'Login', features);

		if (window.focus) {
			newWindow.focus();
		}

		return false;
	}

	<!-- Mapbox Embed -->
	// mapboxgl.accessToken = 'pk.eyJ1IjoibWFydmluamFzb24iLCJhIjoiY2l3a2ZkaGQ4MDAzYTJ5cGk4aHV1MXJndyJ9.F3TXN336jID44_J5einLgA';
	// var map = new mapboxgl.Map({
	//     container: 'map',
	//     style: 'mapbox://styles/marvinjason/ciwoxhst600is2ppamv1f24ck'
	// });

	<!-- Twitter Embed -->
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
